body {
    position: absolute;
    font-family: "Helvetica Neue","Helvetica", sans-serif;
    font-size: 80px;
    text-align: center;

    background-color: white;
    }

input {
    padding: 40px 80px;
}
button {

    font-size: 30px;
    background-color: rgb(39, 27, 41);
    color: rgb(216, 208, 133);
    border-radius: 5px;
    padding: 4px 4px;
    font-family:  "Helvetica Neue","Helvetica", sans-serif;
  }